<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuktok.backend.common.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.niuktok.backend.common.entity.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="from_user_id" jdbcType="BIGINT" property="fromUserId" />
    <result column="to_user_id" jdbcType="BIGINT" property="toUserId" />
    <result column="video_id" jdbcType="BIGINT" property="videoId" />
    <result column="father_comment_id" jdbcType="BIGINT" property="fatherCommentId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="like_num" jdbcType="BIGINT" property="likeNum" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="deleted_time" jdbcType="TIMESTAMP" property="deletedTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
</mapper>